//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        TAB_qw {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
            layers = <0>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
            timeout-ms = <100>;
        };

        dota_layer {
            bindings = <&to 3>;
            key-positions = <7 8 9>;
            timeout-ms = <300>;
            layers = <2>;
        };

        base_layer {
            bindings = <&to 0>;
            key-positions = <30 28 29>;
        };

        f3-dota {
            bindings = <&kp F3>;
            key-positions = <32 23>;
            layers = <3>;
        };

        f4-dota {
            bindings = <&kp F4>;
            key-positions = <23 33>;
            layers = <3>;
        };

        TAB_as {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            layers = <0>;
        };

        wasd_layer {
            bindings = <&to 4>;
            key-positions = <0 1 2>;
            timeout-ms = <300>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base_0";
            bindings = <
                  &kp Q             &kp W           &kp E           &kp R         &kp T                       &kp Y                     &kp U     &kp I      &kp O    &kp P
                  &kp A             &kp S           &kp D           &kp F         &kp G                       &kp H                     &kp J     &kp K      &kp L    &kp SEMI
&hm LCTRL ESCAPE  &hm LEFT_SHIFT Z  &hm LEFT_WIN X  &kp C           &kp V         &kp B                       &kp N                     &kp M     &kp COMMA  &kp DOT  &kp FSLH  &hm RIGHT_SHIFT APOSTROPHE
                                                    &lt 1 LEFT_WIN  &kp LEFT_ALT  &hm RS(LEFT_SHIFT) SPACE    &hm RS(LEFT_SHIFT) SPACE  &kp BSPC  &mo 2
            >;
        };

        Numbers_Functions {
            label = "Nums_1";
            bindings = <
        &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9   &kp N0
&kp F1  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &kp F12
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Nav_Shortcuts {
            label = "Nav_2";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp GRAVE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
        &trans  &trans  &trans  &trans  &trans    &kp LEFT   &kp DOWN              &kp UP                 &kp RIGHT         &kp BACKSLASH
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME   &kp LC(RS(TAB))       &kp LC(TAB)            &kp END           &kp MINUS          &kp EQUAL
                        &trans  &trans  &trans    &trans     &trans                &trans
            >;
        };

        Dota {
            bindings = <
               &kp N1  &kp N2  &kp N3     &kp N4        &kp N5       &trans  &trans  &trans  &trans  &trans
               &kp Q   &kp W   &kp E      &kp R         &kp T        &trans  &trans  &trans  &trans  &trans
&hm LCTRL TAB  &kp A   &kp S   &kp D      &kp F         &kp G        &trans  &trans  &trans  &trans  &trans  &trans
                               &kp LSHFT  &kp LEFT_ALT  &kp SPACE    &trans  &trans  &trans
            >;

            label = "Dota_3";
        };

        wasd {
            bindings = <
        &trans           &trans    &kp UP    &trans     &trans         &trans  &trans  &trans  &trans  &trans
        &kp LC(RS(TAB))  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LC(TAB)    &trans  &trans  &trans  &trans  &trans
&trans  &trans           &trans    &trans    &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
                                   &trans    &trans     &trans         &trans  &trans  &trans
            >;

            label = "wasd_4";
        };
    };
};
